include LICENSE
include LICENCE

recursive-include Extensions/qhull_lib *.h *c *.pxd

recursive-include nMOLDYN/GUI/Resources/Icons *.png

include nMOLDYN/Data/elements_database.csv

include nMOLDYN/Data/Atoms/*

recursive-include UserData *

include Scripts/*

