include LICENSE
include requirements.txt

recursive-include Src/MDANSE_GUI/GUI/Resources/Icons *.png
recursive-include Src/MDANSE_GUI/PyQtGUI/Icons *.png
recursive-include Src/MDANSE_GUI/PyQtGUI/MolecularViewer/database *.yml

recursive-include Doc *

recursive-include Tests *.py
