#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/usr/local/bin/mdanse_gui
Name=MDANSE (ILL)
Comment=MDANSE 4 (Molecular Dynamics Analysis for Neutron Scattering Experiments)
Icon=mdanse
Categories=Education;Applications;Science;
